// utils
@import './utils/variables';
@import './utils/mixin';
@import './utils/animations';
// components
@import './components/card';
@import './components/eye';
@import './components/board';
@import './components//prize-card';
@import './components/swiper';

// layout
@import './layouts/banner';
@import './layouts/question';
@import './layouts/parallax';
@import './layouts/solution';
@import './layouts/event-info';
@import './layouts/event-prize';
@import './layouts/qa';
@import './layouts/sponsor';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'jf-openhuninn-1.1';
  src: url('../assets/font/jf-openhuninn-1.1.ttf');
}

html {
  font-size: 16px;
  @include xl {
    font-size: 14px;
  }
  @include lg {
    font-size: 12px;
  }
  @include md {
    font-size: 10px;
  }
}

body {
  line-height: 1.5;
  font-family: 'jf-openhuninn-1.1', sans-serif;
  background-color: var(--color-bg-blue);
}

footer {
  text-align: center;
  padding: 30px;
  color: var(--color-white);
  font-size: 1rem;
  a {
    color: dodgerblue;
    &:hover {
      text-decoration: none;
    }
  }
}

ul {
  list-style: none;
}
