:root {
  --color-white: #ffffff;
  --color-blue: #142c48;
  --color-red: #f24c4c;
  --color-gray: rgba(189, 189, 189, 0.6);
  --color-pink: #f1bbbb;
  --color-black: #2c2d2d;
  --color-bg-blue: #061b34;
  --color-bg-green: rgba(154, 255, 255, 0.3);
  --color-bg-gray: #434444;
  --color-light-gray: #d9d9d9;
  --color-light-white: #eefbff;
  --color-light-blue: #accef7;
  --color-light-green: #9affff;
  --color-light-yellow: #fdffa9;
  --color-light-pink: #f19aff;
  --color-deep-gray: #bdbdbd;
  --color-middle-blue: #3484c6;
  --color-border-pink: #ffbffc;
}
